<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><?=$title?></title>
<meta name="keywords" content="{title}" />
<link rel="stylesheet" type="text/css" href="/default/style.css"
	media="all" />
</head>
<body>
	<div id="top_bg">
		<div id="top">
			<a href="/" class="index"></a>
			<!--navbegin-->
			<div class="nav">
				<ul>
					<li>
						<a href="/" class="home">HOME</a>
					</li>
					<li>
						<a href="/default/img/about.html" rel="nofollow">ABOUT US</a>
					</li>
					<li>
						<a href="/default/img/products.html" rel="nofollow">PRODUCTS</a>
					</li>
					<li>
						<a href="/default/img/contact.html" rel="nofollow">CONTACT US</a>
					</li>
					<li>
						<a href="/default/img/service.html" rel="nofollow">SERVICE</a>
					</li>
				</ul>
			</div>
			<!--navover-->
		</div>
	</div>

	<div id="banner">
		<a rel="nofollow" href="javascript:void(0);"
			onclick="openZoosUrl('chatwin')">
			<img src="/default/img/banner.jpg"
				style="width: 985px; height: 313px; margin-top: 8px; margin-left: 8px;" />
		</a>
	</div>
	<div id="content">



		<div id="sidebar">
			<script src="/default/img/sidebar.js"></script>
		</div>
		<!--sidebar-->
		<div class="test">
			<div class="solution_left">

				<h1><?=$title?></h1>


				<div>
					<a href="/default/img/mobile.html" rel="nofollow">
						<img src="/default/img/mobile-jaw-crusher-1.gif" alt="Mobile Jaw Crusher">
					
					</a>
					<h2>
						<a href="/default/img/mobile.html" rel="nofollow">Mobile Crusher</a>
					</h2>
					<p>The mobile crushing plant has the advantages of easy
						transportation, low transportation cost, flexible configuration,
						convenient maintenance etc. It can be operated as independent
						units, or as two-stage crushing plant with primary and secondary
						crushing, or as three stage crushing plant according to different
						clients' requirements.</p>
					<p
						style="border-top: 1px dashed #666; margin-left: 12px; width: 300px; color: #33C;">
						<strong>Click here to get online consultation.</strong>
					</p>
					<p></p>
					<a rel="nofollow" href="javascript:void(0);"
						onclick="openZoosUrl('chatwin')">
						<img src="/default/img/order.gif" alt="Inquiry"
							style="width: 280px; height: 41px; margin-top: 10px;">
					
					</a>
					<p></p>
				</div>

				<div>
					<a href="/default/img/stonecrusher.html" rel="nofollow">
						<img src="/default/img/pew-jaw-crusher.gif" alt="PEW Series Jaw Crusher">
					
					</a>
					<h2>
						<a href="/default/img/stonecrusher.html" rel="nofollow">Stone Crusher</a>
					</h2>
					<p>KEFID has been serving the stone crushing &amp; grinding
						industry for over 20 years, it is one of the most famous stone and
						mineral processing company in the world. KEFID has a group of
						bridle-wise workers and experienced on-site engineers, who ensure
						every set of equipments is of high performance and high
						reliability.</p>
					<p
						style="border-top: 1px dashed #666; margin-left: 12px; width: 300px; color: #33C;">
						<strong>Click here to get online consultation.</strong>
					</p>
					<p></p>
					<a rel="nofollow" href="javascript:void(0);"
						onclick="openZoosUrl('chatwin')">
						<img src="/default/img/order.gif" alt="Inquiry"
							style="width: 280px; height: 41px; margin-top: 10px;">
					
					</a>
					<p></p>
				</div>

				<div>
					<a href="/default/img/grinding.html" rel="nofollow">
						<img src="/default/img/vertical-coll-mill.gif"
							alt="LM Vertical Grinding Mills">
					
					</a>
					<h2>
						<a href="/default/img/grinding.html" rel="nofollow">Grinding Mill</a>
					</h2>
					<p>Grinding is the required powdering or pulverizing process when
						final size of below 2 mm is needed. KEFID can provide the proper
						grinding measure to all kinds of methods and application, such as
						XZM series ultrafine mill's output size can reach 2500mesh (5um)</p>
					<p
						style="border-top: 1px dashed #666; margin-left: 12px; width: 300px; color: #33C;">
						<strong>Click here to get online consultation.</strong>
					</p>
					<p></p>
					<a rel="nofollow" href="javascript:void(0);"
						onclick="openZoosUrl('chatwin')">
						<img src="/default/img/order.gif" alt="Inquiry"
							style="width: 280px; height: 41px; margin-top: 10px;">
					
					</a>
					<p></p>
				</div>

				<div>
					<a href="/default/img/beneficiation.html" rel="nofollow">
						<img src="/default/img/flotation-machine.gif" alt="Flotation Machine">
					
					</a>
					<h2>
						<a href="/default/img/beneficiation.html" rel="nofollow">Beneficiation
							Equipments</a>
					</h2>
					<p>KEFID screen can separate the stuff of different size range. It
						is the most general means of size control in aggregates
						processing. Washing machine is a kind of cleaning equipment of
						international advanced level for sand and slag pellets, it is
						developed on the basis of introducing foreign outstanding
						technology of the same kind of products.</p>
					<p
						style="border-top: 1px dashed #666; margin-left: 12px; width: 300px; color: #33C;">
						<strong>Click here to get online consultation.</strong>
					</p>
					<p></p>
					<a rel="nofollow" href="javascript:void(0);"
						onclick="openZoosUrl('chatwin')">
						<img src="/default/img/order.gif" alt="Inquiry"
							style="width: 280px; height: 41px; margin-top: 10px;">
					
					</a>
					<p></p>
				</div>

				<div>
					<a href="/feeding.html" rel="nofollow">
						<img src="/default/img/belt-conveyor.gif" alt="Belt Conveyor">
					
					</a>
					<h2>
						<a href="/feeding.html" rel="nofollow">Feeding and
							Conveying Machine</a>
					</h2>
					<p>Feeders are necessary when we need to deliver a mass flow of
						stone and minerals, especially in complete crushing plant. And
						conveying is by far the main means to transport material in stone
						processing, zenith offers the suitable solution to satisfy
						customer's needs in feeding and conveying.</p>
					<p
						style="border-top: 1px dashed #666; margin-left: 12px; width: 300px; color: #33C;">
						<strong>Click here to get online consultation.</strong>
					</p>
					<p></p>
					<a rel="nofollow" href="javascript:void(0);"
						onclick="openZoosUrl('chatwin')">
						<img src="/default/img/order.gif" alt="Inquiry"
							style="width: 280px; height: 41px; margin-top: 10px;">
					
					</a>
					<p></p>
				</div>

			</div>
			<!--solution_left-->
			<div id="news">
				<!--neirong begin-->

				<div class="article">
                

<ul class="cat_list">
<?php foreach($result->CateList() as $v ){?>
	<li>
		<a href="<?=$v['ID']?>-<?=urlencode(str_replace(" ","-",$v['title']."-".$result->getSubtitle($v['ID'])))?>.html">
			<?=$v['title']?> <?=$result->getSubtitle($v['ID'])?>
		</a>
	</li>
<?php }?>
</ul>


				</div>
				<div class="nearbypost"> 

<ul>
	<?php $res=$result->GetPages()?>
	<li><a href="./">首页</a></li>
	<?php if($res["pre"]){?>
	<li><a href="<?=$res['pre']?>">上一页</a></li>
	<?php }?>
	<?php foreach($res["page"] as $k => $v) {?>
	<li><a href="<?=$v?>"><?=$k?></a></li>
	<?php }?>
	<?php if($res["next"]){?>
	<li><a href="<?=$res['next']?>">下一页</a></li>
	<?php }?>
	<li><a href="<?=$res['last']?>">最后一页</a></li>
	
</ul>


</div>
			</div>
			<!--neirong end-->
		</div>
	</div>
	<!--content-->
<div id="bottom_bg">
  <div id="bottom"> Copyright  2000-2014, Shanghai KEFID Mining and Construction Machinery Co., Ltd. All Rights Reserved. </div>
</div>
<script src="/default/img/kfdswt.js"></script>
	<script>
		document
				.writeln("<div class=\"floatzoos\" style=\"position: fixed !important;right: 0px;bottom: 10px;position: absolute;z-index: 1000;\"><a href=\"javascript:openZoosUrl()\"><img src=\"/default/img/kfdenonchat.gif\" /></a></div>" );
		var content = 'FIND <b>'
				+ document.title
				+ '</b> ? <a href=javascript:openZoosUrl()>To learn more, Welcome to Chat Online.</a>';
		invatation(content, 5);
	</script>
</body>
</html>