﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>About us</title>
<meta name="keywords" content="Kefid crusher, Kefid Machine,Kefid Mill, Jaw crusher" />
<link rel="stylesheet" type="text/css" href="/template/default-en/style.css"
	media="all" />
</head>
<body>
	<div id="top_bg">
		<div id="top">
			<a href="/" class="index"></a>
			<!--navbegin-->
			<div class="nav">
				<ul>
					<li>
						<a href="/" class="home">HOME</a>
					</li>
					<li>
						<a href="/template/default-en/img/about.html" rel="nofollow">ABOUT US</a>
					</li>
					<li>
						<a href="/template/default-en/img/products.html" rel="nofollow">PRODUCTS</a>
					</li>
					<li>
						<a href="/template/default-en/img/contact.html" rel="nofollow">CONTACT US</a>
					</li>
					<li>
						<a href="/template/default-en/img/service.html" rel="nofollow">SERVICE</a>
					</li>
				</ul>
			</div>
			<!--navover-->
		</div>
	</div>

	<div id="banner">
		<a rel="nofollow" href="javascript:void(0);"
			onclick="openZoosUrl('chatwin')">
			<img src="/template/default-en/img/banner.jpg"
				style="width: 985px; height: 313px; margin-top: 8px; margin-left: 8px;" />
		</a>
	</div>
<div id="content">
    
       
       <div id="sidebar">
			<script src="/template/default-en/img/sidebar.js"></script>
		</div>

       
<div class="right">
<div class="rimage"><img src="/template/default-en/img/about_banner.jpg" alt="KEFID" title="KEFID" ></div>
<div class="right1" style="margin-top: 20px; height: 30px;">
<div class="bread2"><h1>ABOUT KEFID</h1></div>
<div class="bread"><a href="index.php"><strong>Home</strong> &gt; <strong>About KEFID</strong></a></div>
</div>
<div class="clear">&nbsp;</div>
<p>SHANGHAI KEFID MACHINERY CO., LTD is one high-tech enterprise, which involves R&D, production, sales and service as well. In the past 20 years, we devote to producing mining equipments, sand making machines and industrial grinding mills, offering expressway, rail way and water conservancy projects the solution of making high grade sand and matched equipments.</p>
<p>The head office of KEFID is in Shanghai- the international financial centre. Here we have modern production base of 2.3 million square meters, professional R&D institution and technology team, which make us world-class company. Here all KEFID machines are designed produced, asKEFIDbled and texted according to the ISO9001:2008. </p>
<div class="entry-content">
        <p></p>
<div id="attachment_18" class="wp-caption alignleft" style="width: 651px;"><img src="/template/default-en/img/company-culture.jpg" alt="Company Culture" class="size-full wp-image-18"></div>
<h2>Support</h2>
<p>We can not only provide the good machines, but also wholeheartedly provide the comprehensive for our clients. The series of professional technology service will make you have an excellent product experience.</p>
<h2>Production Market</h2>
<p>In he domestic market and the international trade, our company has an experienced and skilled sales service team and a perfect sales service network around the whole China and many other countries.</p>
<h2>KEFID Factory</h2>
<p>KEFID Machinery have two basic equipment manufacturing factories, namely Shanghai manufacturing base and Nantong manufacturing base. The two manufacturing factories provide the powerful staff and technical support.</p>
    </div>

<h2>Online Consultation &nbsp;&nbsp;&nbsp;<strong>(We are committed to 24-hour online)</strong></h2>
<a rel="nofollow" href="javascript:void(0);" onclick="openZoosUrl('chatwin')"><img src="/template/default-en/img/product_support.jpg" alt="live chat" title="live chat"></a><br><br>
	<p><strong>Service orientation:</strong></p>
<br>
       <p> Regard realization of choice service promise as the destination; implement the concept of high-quality, high-taste, high-efficiency and all-around-way service in the process from the design, manufacturing, management to the sale of products.</p>
        <br>
        <p>Service promise: from the design, we will do every step carefully to satisfy clients to the best.</p>
        <br>
       

</div><!--right-->


</div><!--content-->
<div id="bottom_bg">
  <div id="bottom"> Copyright  2000-2014, Shanghai KEFID Mining and Construction Machinery Co., Ltd. All Rights Reserved. </div>
</div>
<script src="/template/default-en/img/kfdswt.js"></script>
	<script>
		document
				.writeln("<div class=\"floatzoos\" style=\"position: fixed !important;right: 0px;bottom: 10px;position: absolute;z-index: 1000;\"><a href=\"javascript:openZoosUrl()\"><img src=\"/template/default-en/img/kfdenonchat.gif\" /></a></div>" );
		var content = 'FIND <b>'
				+ document.title
				+ '</b> ? <a href=javascript:openZoosUrl()>To learn more, please Chat Online.</a>';
		invatation(content, 5);
	</script>

</body>
</html>