﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Beneficiation Equipments</title>
<meta name="keywords" content="Kefid crusher, Kefid Machine,Kefid Mill, Jaw crusher" />
<link rel="stylesheet" type="text/css" href="/template/default-en/style.css"
  media="all" />
</head>
<body>
  <div id="top_bg">
    <div id="top">
      <a href="/" class="index"></a>
      <!--navbegin-->
      <div class="nav">
        <ul>
          <li>
            <a href="/" class="home">HOME</a>
          </li>
          <li>
            <a href="/template/default-en/img/about.html" rel="nofollow">ABOUT US</a>
          </li>
          <li>
            <a href="/template/default-en/img/products.html" rel="nofollow">PRODUCTS</a>
          </li>
          <li>
            <a href="/template/default-en/img/contact.html" rel="nofollow">CONTACT US</a>
          </li>
          <li>
            <a href="/template/default-en/img/service.html" rel="nofollow">SERVICE</a>
          </li>
        </ul>
      </div>
      <!--navover-->
    </div>
  </div>

  <div id="banner">
    <a rel="nofollow" href="javascript:void(0);"
      onclick="openZoosUrl('chatwin')">
      <img src="/template/default-en/img/banner.jpg"
        style="width: 985px; height: 313px; margin-top: 8px; margin-left: 8px;" />
    </a>
  </div>
    <div id="content">
    
       
        
<div id="sidebar">
      <script src="/template/default-en/img/sidebar.js"></script>
    </div>


<div class="solution_left">
            <h1>Beneficiation Equipments</h1>
            <p class="intro"> 
KEFID screen can separate the stuff of different size range. It is the most general means of size control in aggregates processing. Washing machine is a kind of cleaning equipment of international advanced level for sand and slag pellets, it is developed on the basis of introducing foreign outstanding technology of the same kind of products.
</p>
              <div><img  src="/template/default-en/img/flotation-machine.gif" alt="Flotation Machine" />
                <h2>Flotation Machine</h2>
                <p> With the development of mining industry, investors present various requirements of the features of flotation machine. Now there are many kinds of flotation machines, such as agitator flotation machine, pneumatic flotation machine and pneumatic- agitator flotation machine. And different mineral ores have different hydrophilicity, so the final configurations greatly depend on the professional designs. </p>
                <p style="border-top:1px dashed #666; margin-left:12px; width:300px; color:#33C;"><strong>Click here to get online consultation.</strong></p>
</p><a rel="nofollow" href="javascript:void(0);" onclick="openZoosUrl('chatwin')"><img src="/template/default-en/img/order.gif" style="width:280px; height:41px; margin-top:10px;"></a></p>
            </div>
                      
             <div><img  src="/template/default-en/img/high-frequency.jpg" alt="High-frequency Screen">
                <h2>High-frequency Screen</h2>
                <p> Compared with the commonly screening and grading equipments, the High-frequency screen adopts higher frequency. As a result, it is able to damage tension force of the pulp surface. Also the fine particles are able to oscillate speedily on the surface of the screen because of the high frequency, and the big expecting minerals are isolated from the pulp easily.</p>
               <p style="border-top:1px dashed #666; margin-left:12px; width:300px;color:#33C;"><strong>Click here to get online consultation.</strong></p>
</p><a rel="nofollow" href="javascript:void(0);" onclick="openZoosUrl('chatwin')"><img src="/template/default-en/img/order.gif" style="width:280px; height:41px; margin-top:10px;"></a></p>
            </div>
            
             <div><img  src="/template/default-en/img/hydrocyclone.jpg" alt="Hydrocyclone">
                <h2>Hydrocyclone</h2>
                <p> Hydrocyclone has been extensively used for closed circuit grinding and classification system , thickening, desliming, dewatering , tailings filling, damming, recovery processes in ferrous, nonferrous metal and nonmetal mine industries, and is deeply popular with customers due to high classification efficiency, simple structure, large throughput, and small occupied area. </p>
                <p style="border-top:1px dashed #666; margin-left:12px; width:300px;color:#33C;"><strong>Click here to get online consultation.</strong></p>
</p><a rel="nofollow" href="javascript:void(0);" onclick="openZoosUrl('chatwin')"><img src="/template/default-en/img/order.gif" style="width:280px; height:41px; margin-top:10px;"></a></p>
            </div>
            
             <div><img  src="/template/default-en/img/spiral_classifier.jpg" alt="Spiral Classifier">
                <h2>Spiral Classifier</h2>
                <p> As the important part of beneficiation line, spiral classifiers are designed to provide the most effective pool area and overflow velocity requirements. According to the theory that the deposition rates are quite different because of different solid particles' specific gravity, the spiral classifier is not only able to clean the ground mineral ore, but also separate the particles briefly. </p>
                <p style="border-top:1px dashed #666; margin-left:12px; width:300px;color:#33C;"><strong>Click here to get online consultation.</strong></p>
</p><a rel="nofollow" href="javascript:void(0);" onclick="openZoosUrl('chatwin')"><img src="/template/default-en/img/order.gif" style="width:280px; height:41px; margin-top:10px;"></a></p>
            </div>
                        

 </div><!--solution_left-->
</div><!--content-->
<div id="bottom_bg">
  <div id="bottom"> Copyright  2000-2014, Shanghai KEFID Mining and Construction Machinery Co., Ltd. All Rights Reserved. </div>
</div>
<script src="/template/default-en/img/kfdswt.js"></script>
  <script>
    document
        .writeln("<div class=\"floatzoos\" style=\"position: fixed !important;right: 0px;bottom: 10px;position: absolute;z-index: 1000;\"><a href=\"javascript:openZoosUrl()\"><img src=\"/template/default-en/img/kfdenonchat.gif\" /></a></div>" );
    var content = 'FIND <b>'
        + document.title
        + '</b> ? <a href=javascript:openZoosUrl()>To learn more, please Chat Online.</a>';
    invatation(content, 5);
  </script>

</body>
</html>