﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Grinding Mill</title>
<meta name="keywords" content="Kefid Grinding Mill, Kefid Machine, Kefid Mill, Milling machine" />
<link rel="stylesheet" type="text/css" href="/template/default-en/style.css"
    media="all" />
</head>
<body>
    <div id="top_bg">
        <div id="top">
            <a href="/" class="index"></a>
            <!--navbegin-->
            <div class="nav">
                <ul>
                    <li>
                        <a href="/" class="home">HOME</a>
                    </li>
                    <li>
                        <a href="/template/default-en/img/about.html" rel="nofollow">ABOUT US</a>
                    </li>
                    <li>
                        <a href="/template/default-en/img/products.html" rel="nofollow">PRODUCTS</a>
                    </li>
                    <li>
                        <a href="/template/default-en/img/contact.html" rel="nofollow">CONTACT US</a>
                    </li>
                    <li>
                        <a href="/template/default-en/img/service.html" rel="nofollow">SERVICE</a>
                    </li>
                </ul>
            </div>
            <!--navover-->
        </div>
    </div>

    <div id="banner">
        <a rel="nofollow" href="javascript:void(0);"
            onclick="openZoosUrl('chatwin')">
            <img src="/template/default-en/img/banner.jpg"
                style="width: 985px; height: 313px; margin-top: 8px; margin-left: 8px;" />
        </a>
    </div>
<div id="content">
    
       
       <div id="sidebar">
            <script src="/template/default-en/img/sidebar.js"></script>
        </div>

<div class="solution_left">
            <h1>Grinding Mill</h1>
            <p class="intro"> 
            	Grinding is the required powdering or pulverizing process when final size of below 2 mm is needed. KEFID can provide the proper grinding measure to all kinds of methods and application, such as XZM series ultrafine mill's output size can reach 2500mesh (5um)
</p>
              <div><img  src="/template/default-en/img/vertical-coll-mill.gif" alt="LM Vertical Grinding Mills" />
                <h2>LM Vertical Grinding Mills</h2>
                <p> According to customers' requirements, SBM success in absorbing foreign experience and world-advanced technology, and in producing our vertical products, with self-owned intellectual property right. Now it has wide application in metallurgy, construction, chemical and mining industries, being the preferred equipments in grinding industry.</p>
                <p style="border-top:1px dashed #666; margin-left:12px; width:300px; color:#33C;"><strong>Click here to get online consultation.</strong></p>
</p><a rel="nofollow" href="javascript:void(0);" onclick="openZoosUrl('chatwin')"><img src="/template/default-en/img/order.gif" style="width:280px; height:41px; margin-top:10px;"></a></p>
            </div>
                      
             <div><img  src="/template/default-en/img/mtm-grinding-mill.gif" alt="MTM Trapezium Grinder">
                <h2>MTM Trapezium Grinder</h2>
                <p> MTM Medium Speed Trapezium grinder is a kind of leading-world-level industrial milling machinery. It is designed by our own engineers and technical workers, basing on industrial mill research of many years and adopting world-leading-powder processing technology. Now a number of customers are fond of it for its incomparable features. </p>
               <p style="border-top:1px dashed #666; margin-left:12px; width:300px;color:#33C;"><strong>Click here to get online consultation.</strong></p>
</p><a rel="nofollow" href="javascript:void(0);" onclick="openZoosUrl('chatwin')"><img src="/template/default-en/img/order.gif" style="width:280px; height:41px; margin-top:10px;"></a></p>
            </div>
            
             <div><img  src="/template/default-en/img/ball-mill.gif" alt="Ball Mill">
                <h2>Ball Mill</h2>
                <p> Ball mills are used primary for single stage fine grinding, regrinding, and as the second stage in two stage grinding circuits. According to the need of customers, ball mill can be either wet or dry designs. Ball mills have been designed in standard sizes of the final products between 0.074 mm and 0.4 mm in diameter.</p>
                <p style="border-top:1px dashed #666; margin-left:12px; width:300px;color:#33C;"><strong>Click here to get online consultation.</strong></p>
</p><a rel="nofollow" href="javascript:void(0);" onclick="openZoosUrl('chatwin')"><img src="/template/default-en/img/order.gif" style="width:280px; height:41px; margin-top:10px;"></a></p>
            </div>
            
             <div><img  src="/template/default-en/img/mtw-grinding-mill.gif" alt="MTW Milling Machine">
                <h2>MTW Milling Machine</h2>
                <p> This MTW series milling machine is designed by our experts, according to collected advices from customers' long-term experiences. It takes the most advanced patent technology from European and the supply the customers with outstanding performance at low costs.</p>
                <p style="border-top:1px dashed #666; margin-left:12px; width:300px;color:#33C;"><strong>Click here to get online consultation.</strong></p>
</p><a rel="nofollow" href="javascript:void(0);" onclick="openZoosUrl('chatwin')"><img src="/template/default-en/img/order.gif" style="width:280px; height:41px; margin-top:10px;"></a></p>
            </div>
            
             <div><img  src="/template/default-en/img/hammer-mill.gif" alt="Hammer Mill">
                <h2>Hammer Mill</h2>
                <p>The hammer mill (also called HM series coarse powder mill) is one kind of new high efficient grinding machine. This mill is mainly used for coarse powder and small size of sand producing. The output size can reach more than 90% of 0-3mm. The hammer mill is widely used in metallurgy, mining, chemical, cement, construction, industrial and mining industries etc. </p>
                <p style="border-top:1px dashed #666; margin-left:12px; width:300px;color:#33C;"><strong>Click here to get online consultation.</strong></p>
</p><a rel="nofollow" href="javascript:void(0);" onclick="openZoosUrl('chatwin')"><img src="/template/default-en/img/order.gif" style="width:280px; height:41px; margin-top:10px;"></a></p>
            </div>
                      

 </div><!--solution_left-->
</div><!--content-->
<div id="bottom_bg">
  <div id="bottom"> Copyright  2000-2014, Shanghai KEFID Mining and Construction Machinery Co., Ltd. All Rights Reserved. </div>
</div>
<script src="/template/default-en/img/kfdswt.js"></script>
    <script>
        document
                .writeln("<div class=\"floatzoos\" style=\"position: fixed !important;right: 0px;bottom: 10px;position: absolute;z-index: 1000;\"><a href=\"javascript:openZoosUrl()\"><img src=\"/template/default-en/img/kfdenonchat.gif\" /></a></div>" );
        var content = 'FIND <b>'
                + document.title
                + '</b> ? <a href=javascript:openZoosUrl()>To learn more, please Chat Online.</a>';
        invatation(content, 5);
    </script>

</body>
</html>