﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Mobile Crusher</title>
<meta name="keywords" content="Kefid Mobile Crusher, Crawler mobile crusher, tire type mobile crusher" />
<link rel="stylesheet" type="text/css" href="/template/default-en/style.css"
  media="all" />
</head>
<body>
  <div id="top_bg">
    <div id="top">
      <a href="/" class="index"></a>
      <!--navbegin-->
      <div class="nav">
        <ul>
          <li>
            <a href="/" class="home">HOME</a>
          </li>
          <li>
            <a href="/template/default-en/img/about.html" rel="nofollow">ABOUT US</a>
          </li>
          <li>
            <a href="/template/default-en/img/products.html" rel="nofollow">PRODUCTS</a>
          </li>
          <li>
            <a href="/template/default-en/img/contact.html" rel="nofollow">CONTACT US</a>
          </li>
          <li>
            <a href="/template/default-en/img/service.html" rel="nofollow">SERVICE</a>
          </li>
        </ul>
      </div>
      <!--navover-->
    </div>
  </div>

  <div id="banner">
    <a rel="nofollow" href="javascript:void(0);"
      onclick="openZoosUrl('chatwin')">
      <img src="/template/default-en/img/banner.jpg"
        style="width: 985px; height: 313px; margin-top: 8px; margin-left: 8px;" />
    </a>
  </div>
<div id="content">
    
       
       <div id="sidebar">
      <script src="/template/default-en/img/sidebar.js"></script>
    </div>


<div class="solution_left">
            <h1>Mobile Crusher</h1>
            <p class="intro"> 
            	The mobile crushing plant has the advantages of easy transportation, low transportation cost, flexible configuration, convenient maintenance etc. It can be operated as independent units, or as two-stage crushing plant with primary and secondary crushing, or as three stage crushing plant according to different clients' requirements.
</p>
              <div><img  src="/template/default-en/img/mobile-jaw-crusher-1.gif" alt="Mobile Jaw Crusher" />
                <h2>Mobile Jaw Crusher</h2>
                <p> Portable mobile jaw crusher is developed according to novel series stone crushing equipment's design idea, the adaption of ship form structure lowers the chassis; reduce the weight and volume of the plant; and makes it easy for turning and transportation; the fashionable design and standardized mass production fully meet customers' requirements.</p>
                <p style="border-top:1px dashed #666; margin-left:12px; width:300px; color:#33C;"><strong>Click here to get online consultation.</strong></p>
</p><a rel="nofollow" href="javascript:void(0);" onclick="openZoosUrl('chatwin')"><img src="/template/default-en/img/order.gif" style="width:280px; height:41px; margin-top:10px;"></a></p>
            </div>
                      
             <div><img  src="/template/default-en/img/mobile-cone-crusher-1.gif" alt="Mobile Cone Crusher">
                <h2>Mobile Cone Crusher</h2>
                <p> The Mobile Cone Crusher (plants) has excellent mobility, it can move to anywhere with the change of raw material places or the construction places and start to work without building any foundation. Also it is easy to match with other equipments, meeting the different product requirements of different customers.</p>
               <p style="border-top:1px dashed #666; margin-left:12px; width:300px;color:#33C;"><strong>Click here to get online consultation.</strong></p>
</p><a rel="nofollow" href="javascript:void(0);" onclick="openZoosUrl('chatwin')"><img src="/template/default-en/img/order.gif" style="width:280px; height:41px; margin-top:10px;"></a></p>
            </div>
            
             <div><img  src="/template/default-en/img/mobile-impact-crusher-1.gif" alt="Mobile Impact Crusher">
                <h2>Mobile Impact Crusher</h2>
                <p> Putting crushing and screening process on wheels really boosts process efficiency. Mobile impact crusher offers maximum set-up flexibility, from course to fine crushing, and is cost efficient. It improves working safety, reduces the need for quarry road maintenance, and gives better access to material resources. A further benefit is that waste material can be separated on-site.</p>
                <p style="border-top:1px dashed #666; margin-left:12px; width:300px;color:#33C;"><strong>Click here to get online consultation.</strong></p>
</p><a rel="nofollow" href="javascript:void(0);" onclick="openZoosUrl('chatwin')"><img src="/template/default-en/img/order.gif" style="width:280px; height:41px; margin-top:10px;"></a></p>
            </div>
            
             <div><img  src="/template/default-en/img/3.jpg" alt="CS Cone Crusher">
                <h2>Hydraulic-driven Track Mobile Plant</h2>
                <p> Mobile crushers are loaded on their own crawler tracks or towed by truck horse when transported over longer distances to a new location. With tremendous flexibility and compact design, customers can take this machine directly to rock crushing plants or demolition sites for powerful, handy recycling of reusable construction materials, concrete debris, sand and gravel with economic efficiency. </p>
                <p style="border-top:1px dashed #666; margin-left:12px; width:300px;color:#33C;"><strong>Click here to get online consultation.</strong></p>
</p><a rel="nofollow" href="javascript:void(0);" onclick="openZoosUrl('chatwin')"><img src="/template/default-en/img/order.gif" style="width:280px; height:41px; margin-top:10px;"></a></p>
            </div>
                        

 </div><!--solution_left-->
</div><!--content-->

<div id="bottom_bg">
  <div id="bottom"> Copyright  2000-2014, Shanghai KEFID Mining and Construction Machinery Co., Ltd. All Rights Reserved. </div>
</div>
<script src="/template/default-en/img/kfdswt.js"></script>
  <script>
    document
        .writeln("<div class=\"floatzoos\" style=\"position: fixed !important;right: 0px;bottom: 10px;position: absolute;z-index: 1000;\"><a href=\"javascript:openZoosUrl()\"><img src=\"/template/default-en/img/kfdenonchat.gif\" /></a></div>" );
    var content = 'FIND <b>'
        + document.title
        + '</b> ? <a href=javascript:openZoosUrl()>To learn more, please Chat Online.</a>';
    invatation(content, 5);
  </script>

</body>
</html>