﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>KEFID SERVICE</title>
<meta name="keywords" content="Kefid crusher, Kefid Machine,Kefid Mill, Jaw crusher" />
<link rel="stylesheet" type="text/css" href="/template/default-en/style.css"
	media="all" />
</head>
<body>
	<div id="top_bg">
		<div id="top">
			<a href="/" class="index"></a>
			<!--navbegin-->
			<div class="nav">
				<ul>
					<li>
						<a href="/" class="home">HOME</a>
					</li>
					<li>
						<a href="/template/default-en/img/about.html" rel="nofollow">ABOUT US</a>
					</li>
					<li>
						<a href="/template/default-en/img/products.html" rel="nofollow">PRODUCTS</a>
					</li>
					<li>
						<a href="/template/default-en/img/contact.html" rel="nofollow">CONTACT US</a>
					</li>
					<li>
						<a href="/template/default-en/img/service.html" rel="nofollow">SERVICE</a>
					</li>
				</ul>
			</div>
			<!--navover-->
		</div>
	</div>

	<div id="banner">
		<a rel="nofollow" href="javascript:void(0);"
			onclick="openZoosUrl('chatwin')">
			<img src="/template/default-en/img/banner.jpg"
				style="width: 985px; height: 313px; margin-top: 8px; margin-left: 8px;" />
		</a>
	</div>
<div id="content">
    
       
       <div id="sidebar">
			<script src="/template/default-en/img/sidebar.js"></script>
		</div>

<div class="right">
<div class="rimage"><img src="/template/default-en/img/about_banner.jpg" alt="KEFID" title="KEFID" ></div>
<div class="right1" style="margin-top: 20px; height: 30px;">
<div class="bread2"><h1>KEFID SERVICE</h1></div>
<div class="bread"><a href="index.php"><strong>Home</strong> &gt; <strong>KEFID Service</strong></a></div>
</div>
<div class="clear">&nbsp;</div>
<p>KEFID equipment is skilled in giving service and engineering for mining marketplace. Crushing, grinding, sand producing and beneficiation plants are the flagship items. With know-how know-how, our technical professionals and many of the committed personnel function collectively, and target on sustainable enhancement on long lasting; we constantly goal for delivering large sophisticated products and cutting edge answers for patrons. Prior to, through and after the sale, you can rely on the KEFID industry experts to provide the sincere service and guidance, we are going to be often able to provide you sincerely.</p>
<div class="entry-content">
        <p></p>
<div id="attachment_18" class="wp-caption alignleft" style="width: 651px;"><img src="/template/default-en/img/service_2.jpg" alt="KEFID Service" class="size-full wp-image-18" height="155" width="641"></div>
<h2>Before-sale Provider</h2>
<p>We are going to be your advisor, and supply you professional consulting provider regarding the mining engineering, and thorough facts about our solutions. Our specialists will examine ore attribute and property, bodily space limitation, ore body size plus your specifications, customize a cost-effective and optimal alternative for you personally.</p>
<h2>In-sale Services</h2>
<p>We're going to manufacture the vegetation accurately according to layout answer and your requirements, double check out every aspects, making certain to offer you high-quality and highly developed machinery, and prepare supply the moment probable. Meantime, we could offer you schooling service; make your technician common while using the equipment about procedure and servicing and so on.</p>
<h2>After-sale Provider</h2>
<p>KEFID has specialized guidance all around the earth. Everytime you need, our technician will give you instant service on-site. We'll help you set up and function the equipment. KEFID makes certain very long guarantee for the products and solutions. There are actually replaceable vital and consumable spare parts obtainable for all types of machinery. We normally are able to offer you sincere and thoughtful assistance.</p>
      </div>
<p></p>
<br>
<a rel="nofollow" href="javascript:void(0);" onclick="openZoosUrl('chatwin')"><img src="/template/default-en/img/product_support.jpg" alt="live chat" title="live chat"></a><br><br>
	<p><strong>Service orientation:</strong></p>
<br>
       <p> Regard realization of choice service promise as the destination; implement the concept of high-quality, high-taste, high-efficiency and all-around-way service in the process from the design, manufacturing, management to the sale of products.</p>
        <br>
        <p>Service promise: from the design, we will do every step carefully to satisfy clients to the best.</p>
        <br>
       

</div><!--right-->


</div><!--content-->
<div id="bottom_bg">
  <div id="bottom"> Copyright  2000-2014, Shanghai KEFID Mining and Construction Machinery Co., Ltd. All Rights Reserved. </div>
</div>
<script src="/template/default-en/img/kfdswt.js"></script>
	<script>
		document
				.writeln("<div class=\"floatzoos\" style=\"position: fixed !important;right: 0px;bottom: 10px;position: absolute;z-index: 1000;\"><a href=\"javascript:openZoosUrl()\"><img src=\"/template/default-en/img/kfdenonchat.gif\" /></a></div>" );
		var content = 'FIND <b>'
				+ document.title
				+ '</b> ? <a href=javascript:openZoosUrl()>To learn more, please Chat Online.</a>';
		invatation(content, 5);
	</script>

</body>
</html>