<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Stone Crusher</title>
<meta name="keywords" content="Stone Crusher, Crushing Machine, Jaw crusher" />
<link rel="stylesheet" type="text/css" href="/template/default-en/style.css"
  media="all" />
</head>
<body>
  <div id="top_bg">
    <div id="top">
      <a href="/" class="index"></a>
      <!--navbegin-->
      <div class="nav">
        <ul>
          <li>
            <a href="/" class="home">HOME</a>
          </li>
          <li>
            <a href="/template/default-en/img/about.html" rel="nofollow">ABOUT US</a>
          </li>
          <li>
            <a href="/template/default-en/img/products.html" rel="nofollow">PRODUCTS</a>
          </li>
          <li>
            <a href="/template/default-en/img/contact.html" rel="nofollow">CONTACT US</a>
          </li>
          <li>
            <a href="/template/default-en/img/service.html" rel="nofollow">SERVICE</a>
          </li>
        </ul>
      </div>
      <!--navover-->
    </div>
  </div>

  <div id="banner">
    <a rel="nofollow" href="javascript:void(0);"
      onclick="openZoosUrl('chatwin')">
      <img src="/template/default-en/img/banner.jpg"
        style="width: 985px; height: 313px; margin-top: 8px; margin-left: 8px;" />
    </a>
  </div>
<div id="content">
    
       
       <div id="sidebar">
      <script src="/template/default-en/img/sidebar.js"></script>
    </div>

<div class="solution_left">
            <h1>Stone Crusher</h1>
            <p class="intro"> 
            	KEFID has been serving the stone crushing & grinding industry for over 20 years, it is one of the most famous stone and mineral processing company in the world. KEFID has a group of bridle-wise workers and experienced on-site engineers, who ensure every set of equipments is of high performance and high reliability.
</p>
              <div><img  src="/template/default-en/img/pew-jaw-crusher.gif" alt="PEW Series Jaw Crusher" />
                <h2>PEW Series Jaw Crusher</h2>
                <p> PEW Series jaw crusher genuinely is widely utilized in mining, metallurgical small business, constructing substance, highway, railway, drinking water conservancy and chemical industries. Numerous substance with compressive resistance a great deal a lot less than 320 Mpa might be crushed.  </p>
                <p style="border-top:1px dashed #666; margin-left:12px; width:300px; color:#33C;"><strong>Click here to get online consultation.</strong></p>
</p><a rel="nofollow" href="javascript:void(0);" onclick="openZoosUrl('chatwin')"><img src="/template/default-en/img/order.gif" style="width:280px; height:41px; margin-top:10px;"></a></p>
            </div>
                      
             <div><img  src="/template/default-en/img/pe-jaw-crusher.gif" alt="PE Series Jaw Crusher">
                <h2>PE Series Jaw Crusher</h2>
                <p> PEW series Jaw crusher features big crushing ratio, reliable operation, easy maintenance and low operating cost. It is the new generation product designed and produced by KEFID, basing on our 30 year's crusher production experience and the latest design conception. It does be one high efficiency and low cost crushing machine.</p>
               <p style="border-top:1px dashed #666; margin-left:12px; width:300px;color:#33C;"><strong>Click here to get online consultation.</strong></p>
</p><a rel="nofollow" href="javascript:void(0);" onclick="openZoosUrl('chatwin')"><img src="/template/default-en/img/order.gif" style="width:280px; height:41px; margin-top:10px;"></a></p>
            </div>
            
             <div><img  src="/template/default-en/img/pfw-impact-crusher.gif" alt="Impact Crusher">
                <h2>Impact Crusher</h2>
                <p> Impact crusher features heavy duty rotor design, unique hammer locking system, interchangeable wearing parts, and easy maintenance. This series impact crusher provides customers low capital cost solution, outstanding performance, good cubical shape, lowest operation cost per ton, and wide materials application.</p>
                <p style="border-top:1px dashed #666; margin-left:12px; width:300px;color:#33C;"><strong>Click here to get online consultation.</strong></p>
</p><a rel="nofollow" href="javascript:void(0);" onclick="openZoosUrl('chatwin')"><img src="/template/default-en/img/order.gif" style="width:280px; height:41px; margin-top:10px;"></a></p>
            </div>
            
             <div><img  src="/template/default-en/img/s-cone-crusher.gif" alt="CS Cone Crusher">
                <h2>CS Cone Crusher</h2>
                <p> Comparing with other kinds of crushers, CS Series spring cone crusher is quite excellent in hard material crushing and the final product has good sharp. The innovations like stable lubrication system and excellent sealing system evidently reduce the production cost, helping you to achieve the highest level of profitability.</p>
                <p style="border-top:1px dashed #666; margin-left:12px; width:300px;color:#33C;"><strong>Click here to get online consultation.</strong></p>
</p><a rel="nofollow" href="javascript:void(0);" onclick="openZoosUrl('chatwin')"><img src="/template/default-en/img/order.gif" style="width:280px; height:41px; margin-top:10px;"></a></p>
            </div>
            
             <div><img  src="/template/default-en/img/vsi-crusher.gif" alt="VSI Crusher">
                <h2>VSI Crusher</h2>
                <p>KEFID VSI Series vertical shaft impact crusher is designed by reputed German expert of KEFID and every index is in world's leading standard. It incorporates three crushing types and it can be operated 720 hours continuously. Nowadays, VSI crusher has replaced hammer crusher, roller crusher, roller ball mill, becoming the mainstream equipments in sand making business.</p>
                <p style="border-top:1px dashed #666; margin-left:12px; width:300px;color:#33C;"><strong>Click here to get online consultation.</strong></p>
</p><a rel="nofollow" href="javascript:void(0);" onclick="openZoosUrl('chatwin')"><img src="/template/default-en/img/order.gif" style="width:280px; height:41px; margin-top:10px;"></a></p>
            </div>
                      

 </div><!--solution_left-->
</div><!--content-->
<div id="bottom_bg">
  <div id="bottom"> Copyright  2000-2014, Shanghai KEFID Mining and Construction Machinery Co., Ltd. All Rights Reserved. </div>
</div>
<script src="/template/default-en/img/kfdswt.js"></script>
  <script>
    document
        .writeln("<div class=\"floatzoos\" style=\"position: fixed !important;right: 0px;bottom: 10px;position: absolute;z-index: 1000;\"><a href=\"javascript:openZoosUrl()\"><img src=\"/template/default-en/img/kfdenonchat.gif\" /></a></div>" );
    var content = 'FIND <b>'
        + document.title
        + '</b> ? <a href=javascript:openZoosUrl()>To learn more, please Chat Online.</a>';
    invatation(content, 5);
  </script>

</body>
</html>
